*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* for full screen scroll snapping */
section{
    height: 100vh;
    scroll-snap-align: start;
}
.whole{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

/* lining */
.container{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/* START NAVBAR */
li{
    font-size: 20px;
    text-align: center;
    list-style: none;
    padding: 10px;
    background-color: white;
    border-bottom: 2px solid black;
}
a li{
    text-decoration: none;
    color: black;
}
li:hover{
    background-color: rgb(204, 177, 224);
}
header{
    position: sticky;
    top: 0;
    z-index: 10000;
}
/* END NAVBAR */


/* left or right justify */
.right-justify{
    text-align: right;
}
.left-justify{
    text-align: left;
}


/* text */
#greet-text{
    font-size: 30px;
}
#big-name{
    font-size: 100px;
}
#about-text{
    font-size: 100px;
    margin-left: 50px;
}
#about-paragraph{
    font-size: 20px;
}
.col-md-6{
    /* border: 1px solid red; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.paragraph{
    margin-right: 50px;
    margin-left: 20px;
}

/* circle image*/
.me-image img{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    border: 2px solid black;
    margin-left: 50px;
}











/* start footer */
/* end footer */


/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
}